@import "compass/css3";
::-webkit-scrollbar {
   display: none;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'geometria-light';
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background-color: rgb(16,16,20);
  background-attachment: fixed;
}

@font-face {
  font-family: 'geometria-light';
}

::-webkit-selection {
  /* Code for Firefox */
  color: white;
  background: #4d4d56;
}

::-o-selection {
  color: white;
  background: #4d4d56;
}

::-moz-selection {
  color: white;
  background: #4d4d56;
}

::selection {
  color: white;
  background: rgba(242, 120, 75, 0.5);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #F2784B;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.top {
  top: 0;
  font-size: 1px;
}

hr {
  border: 2px solid rgba(255, 255, 255, 0.7);
  z-index: 200;
}

.header {
    width: 100vw;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          transition-duration: 1s;
          text-shadow: 0px 0px 20px black;
          animation-duration: 1s;
}

ul {
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
  position: fixed;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 100;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'geometria-light';
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;

}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;

    background-color: rgb(21, 22, 28);
  min-width: 200px;
  z-index: 999;
  text-align: center;
  box-shadow: 0 3px 50px rgba(0,0,0,0);
  transition-duration: 0.5s;

  background-color: rgb(21, 22, 28);
  min-width: 200px;
  z-index: 999;
  text-align: center;
  box-shadow: 0 3px 50px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  display: block;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

.link {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 900;
  font-size: 17px;
  background-color: none;
  line-height: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 200px;
  text-align: center;
  text-transform: uppercase;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
          transition-duration: 1s;
}

div a img {
  height: 15px;
  padding-left: 30px;
}

.lander {
  background-image: url(https://s12.postimg.org/es1tf1efx/mars.png);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
  right: 0;
  left: 0;
}

.landertext {
  color: rgba(255,255,255,1);
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
  font-size: 60px;
  margin-bottom: 0;
  text-align: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  letter-spacing: 15px;
  -mox-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  text-shadow: 0px 0px 25px black;
  opacity: 0;
  animation: in 2s cubic-bezier(.53,.01,.48,.99) forwards 1;
  animation-delay: .3s;
  white-space: nowrap;
}

@-webkit-keyframes in {
  0% {
    letter-spacing: 50px;
    opacity: 0;
    white-space: nowrap;
    overflow-y: hidden;
  }
  100% {
    letter-spacing: 15px;
    opacity: 1;
    white-space: normal;
    overflow-y: auto;
  }
}

@keyframes in {
  0% {
    letter-spacing: 50px;
    opacity: 0;
    white-space: nowrap;
    overflow-y: hidden;
  }
  100% {
    letter-spacing: 15px;
    opacity: 1;
    white-space: normal;
    overflow-y: auto;
  }
}

.lander div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35vh;
}

.scrollarrow {
  height: 60px;
  padding: 10px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.scrollarrow:hover {
  background-color: black;
  border-radius: 30px;
}

.scrollarrowspace {
  height: 35vh;
  font-size: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.body1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden;
  z-index: 90;
}

.body1 h3,
p {
  text-align: center;
  letter-spacing: 2px;
}

.body1 h3 {
  color: white;
  font-size: 50px;
  font-weight: 100;
  margin: 100px 5% 100px 0;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  width: 50vw;
  text-align: right;
}

.body1 p {
  color: #ccc;
  font-size: 15px;
  font-weight: 400;
  margin: 100px 0 100px 5%;
  line-height: 30px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  width: 50vw;
  text-align: left;
}

.careers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 100px;
  background-color: rgb(21, 22, 28);
  overflow-x: hidden;
}

.sectiontitle {
  width: 100vw;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 50px;
  font-weight: 100;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  padding: 100px 0;
}

.careers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.careerspanels div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subtitle1 {
  text-align: left;
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
  font-weight: 100;
  line-height: 70px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  text-shadow: 1px 1px 10px black;
  overflow-x: hidden;
  text-transform: capitalize;
}

.subtitle4 {
  text-align: right;
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
  font-weight: 100;
  line-height: 70px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  text-shadow: 1px 1px 10px black;
  overflow-x: hidden;
  text-transform: capitalize;
}

.subtitle2 {
  text-align: right;
  letter-spacing: 2px;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  width: 30vw;
  overflow-x: hidden;
}

.subtitle3 {
  text-align: left;
  letter-spacing: 2px;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  width: 30vw;
  overflow-x: hidden;
}

.panel12 {
  height: 50vh;
  width: 50%;
}

.panel11 {
  height: 50vh;
  width: 50%;
}

.panel1 {
  background-image: url(https://s15.postimg.org/xnj3sa0wr/image1.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 50%;
}

.panel2 {
  background-image: url(https://s15.postimg.org/6ecbrip7f/image2.png);
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 50%;
}

.panel3 {
  height: 50vh;
  width: 50%;
  background-image: url(https://s15.postimg.org/uw4fferrv/image3.png);
  background-position: center;
  background-size: cover;
}

.panel4 {
  height: 50vh;
  width: 50%;
  background-image: url(https://s15.postimg.org/x1yq9wv8b/image4.png);
  background-position: center;
  background-size: cover;
}

.panel5 {
  height: 50vh;
  width: 50%;
  background-image: url(https://s15.postimg.org/6uxjdycyj/image5.png);
  background-position: center;
  background-size: cover;
}

.panel6 {
  height: 50vh;
  width: 50%;
  background-image: url(https://s15.postimg.org/7yhnpwxln/image6.png);
  background-position: center;
  background-size: cover;
}

section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
  margin-bottom: 100px;
}

section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50px;
  margin: 0 0 -1px;
  width: 2px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0 -50px 0;
}

section#timeline h3 {
  margin: 0;
  text-align: center;
}

section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}

section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}

section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
}

section#timeline article div.inner span.date {
  display: block;
  width: 65px;
  height: 65px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #212025;
}

section#timeline article div.inner span.date span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section#timeline article div.inner span.date span.day {
  font-size: 0.1px;
  line-height: 13px;
}

section#timeline article div.inner span.date span.month {
  vertical-align: center;
  margin: 15px 0;
  font-size: 18px;
}

section#timeline article div.inner span.date span.year {
  font-size: 1px;
  line-height: 13px;
}

section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #16161e;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  position: relative;
}

section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
}

section#timeline article div.inner h2 p {
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  text-transform: none;
  line-height: 25px;
}

section#timeline article div.inner h2 p b {
  text-transform: uppercase;
  font-weight: 900;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #262630;
}

section#timeline article:nth-child(2n+1) div.inner {
  float: right;
}

section#timeline article:nth-child(2n+1) div.inner h2:after {
  left: -5px;
}

section#timeline article div.inner h2 {
  background: #d7d9e0;
}

section#timeline article div.inner h2:after {
  background: #d7d9e0;
}

section#transportation {
background-color: rgb(21, 22, 28);
overflow-x: hidden;
  background-color: rgb(21, 22, 28);
  overflow-x: hidden;
}

section#transportation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
}

section#transportation div h2 {
  text-align: right;
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
  font-weight: 100;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  padding: 0 5% 0 1px;
  width: 50%;
}

section#transportation div p {
  text-align: left;
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  line-height: 35px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  overflow-x: hidden;
  width: 50%;
  padding: 0 10% 100px 5%;
}

section#prosandcons {
  color: white;
  padding-bottom: 100px;
  overflow-x: hidden;
}

section#prosandcons p {
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  line-height: 35px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  overflow-x: hidden;
  padding: 0 10vw 50px 10vw;
}

section#prosandcons h2 {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
  font-weight: 100;
  line-height: 70px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  text-shadow: 1px 1px 10px black;
  overflow-x: hidden;
  letter-spacing: 5px;
  padding-bottom: 50px;
}

section#prosandcons section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
  -ms-flex-pack: row;
  justify-content: row;
}

section#prosandcons section div {
  width: 50vw;
  padding: 0 5vw 0 5vw;
}

section#prosandcons section div p {
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  line-height: 35px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  overflow-x: hidden;
  padding: 0;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

section#prosandcons section div h2 {}

.k {
background-color: rgb(21, 22, 28);
    padding-bottom: 100px;
  background-color: rgb(21, 22, 28);
  padding-bottom: 100px;
}

section#interviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

section#interviews h2 {
  width: 30vw;
  text-align: center;
  margin-bottom: 100px;
  font-size: 35px;
  font-weight: 100;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  text-decoration: none;
}

section#interviews h2 a img {
  height: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

section#interviews p {
  width: 30vw;
  padding-bottom: 100px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

section#interviews p b {
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  z-index: 9999;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 4px solid rgba(255, 255, 255, 0.75);
  border-top: 4px solid rgba(255, 255, 255, 0.75);
  overflow-x: hidden;
}

footer img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  padding: 10px;
  height: 150px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  margin: 100px 0;
}

footer img:hover {
  background-color: rgba(255, 255, 255, 1);
  padding: 12px;
  height: 180px;
  width: 180px;
  margin: 85px 0;
}

footer h1 {
  text-align: left;
  width: 25vw;
  font-size: 30px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
}

footer h2 {
  text-align: right;
  width: 25vw;
  font-size: 30px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
}

html {
  overflow-x: hidden;
}

section#workscited {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    padding-bottom: 100px;
    background-color: rgb(21, 22, 28);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  padding-bottom: 100px;
  background-color: rgb(21, 22, 28);
}

section#workscited h3 {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
  font-weight: 100;
  line-height: 100px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  text-shadow: 1px 1px 10px black;
  overflow-x: hidden;
  text-transform: capitalize;
  padding: 50px 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

section#workscited p {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  overflow-x: hidden;
  width: 80vw;
  padding-left: 20vw;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

div#lander {
  background-image: url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=1922cbce15cec57ee83a2a94b0b759c9);
  height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
}

div#lander h2 {
    color: white;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    letter-spacing: 15px;
    -mox-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    text-shadow: 0px 0px 25px black;
    opacity: 0;
    animation: in 2s cubic-bezier(.53,.01,.48,.99) forwards 1;
    animation-delay: .3s;
    white-space: nowrap;
    overflow-x: hidden;
  color: white;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  letter-spacing: 15px;
  -mox-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  text-shadow: 0px 0px 25px black;
  opacity: 0;
  -webkit-animation: in 2s cubic-bezier(.53, .01, .48, .99) forwards 1;
          animation: in 2s cubic-bezier(.53, .01, .48, .99) forwards 1;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  white-space: nowrap;
  overflow-x: hidden;
}

div#lander1 {
  background-image: url(https://images.unsplash.com/photo-1423592707957-3b212afa6733?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=68d368c10b1ce861c14750362f79a8d1);
  height: 60vh;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
}

div#lander1 h2 {
    color: white;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    letter-spacing: 15px;
    -mox-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    text-shadow: 0px 0px 25px black;
    opacity: 0;
    animation: in 2s cubic-bezier(.53,.01,.48,.99) forwards 1;
    animation-delay: .3s;
    white-space: nowrap;
    overflow-x: hidden;
  color: white;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  letter-spacing: 15px;
  -mox-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  text-shadow: 0px 0px 25px black;
  opacity: 0;
  -webkit-animation: in 2s cubic-bezier(.53, .01, .48, .99) forwards 1;
          animation: in 2s cubic-bezier(.53, .01, .48, .99) forwards 1;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  white-space: nowrap;
  overflow-x: hidden;
}
