@font-face {
    font-family: 'geometria-light';
    src: url('geometria-light-webfont.woff2') format('woff2'),
         url('geometria-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
