html {
	box-sizing: border-box;
}

* { margin:0; padding:0; box-sizing:border-box}

/*
@font-face {
	font-family: futuristfixed;
	src:url('C:\\users\\yoon\\documents\\jacob\\tsa\\2016-17\\nationals\\website\\futurist_fixed\\FUTRFW.TTF');
}
*/

body {

}

@font-face {
    font-family: 'Roboto Slab', serif;
    font-family: 'Raleway', sans-serif;
}

.header {
	width: 100%;
	position: fixed;
	background-color: #01010a;
	top: 0%;
	font-color: white;
	padding: 15px 15px 15px 15px;
	margin: 0 0 0px 0;
	z-index: 1000;
	overflow-x: hidden;
}

.header1 {
	width: 100%;
	position: fixed;
	top: 0%;
	font-color: white;
	padding: 15px 15px 15px 15px;
	margin: 0 0 0px 0;
	overflow-x: hidden;
}

nav ul {
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
	overflow-x: hidden;
}

/*
a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover {  
	color: white;
	text-decoration: none;
	border-bottom: solid white;
}


a:active { color: white; text-decoration: none; border-bottom: none;}
*/

nav ul li {
	background-color: none;
	color: white;
	display:inline-block;
	list-style-type: none;
	padding: 5px 10px;
	float: right;
	margin: 0 5px;
	font-family: Raleway, sans-serif;
	font-weight: normal;
	letter-spacing: 2px;
	text-decoration: none;
	overflow-x: hidden;
}

nav ul li a {
	font-color: white;
	background-color: none;
	overflow-x: hidden;
}

.top1 {
	background-image: url("http://wallpapershome.com/images/pages/pic_hs/12178.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: = 100%;
	width: = 100%;
	background-size: cover;
	background-position: top;
	overflow-x: hidden;
}

.tsaemblem {
	height: 40px;
	width: 70px;
	top: 0;
	bottom: 0;
	margin: 0px;
	background-color: none;
	overflow-x: hidden;
}

.strongfont {
	font-weight: bold;
	font-size: 20px;
	overflow-x: hidden;
}

.missiontomars {
	background-color: none;
	font-family: Roboto Slab, serif;
	font-size: 85px;
	font-weight: normal;
	margin: 45vh 0 0 0;
	letter-spacing: 6.5px;
	word-spacing: 5px;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 0.25s;
	perspective: 1px;
	-webkit-perspective: 1px;
	color: white;
	position: center center;
	top: 50%;
	overflow-x: hidden;
}


.subtitle1{
	font-family: Roboto Slab, serif;
	font-size: 40px;
	color: white;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 0.5s;
	letter-spacing: 7px;
	word-spacing: 5px;
	overflow-x: hidden;
	margin: 0 0 40vh 0;
}

.firstsection {
	background-image: url("http://cdn.wallpapersafari.com/90/33/y7zYRi.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	top: 100% - 30px;
	overflow-x: hidden;
}

.heading1 {
	font-family: Raleway, sans-serif;
	font-size: 40px;
	color: white;
	margin: 100px 0 0 0;
	letter-spacing: 8px;
	word-spacing: 8px;
	text-transform: uppercase;
	font-style: italic;
	padding: 100px 0 0 0;
	overflow-x: hidden;
}

.paragraph {
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 93px 20% 120px 20%;
	letter-spacing: 2px;
	word-spacing: 3px;
	line-height: 30px;
	overflow-x: hidden;
}

.paragraph2 {
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #2c3e50;
	text-align: center;
	padding: 30px 20% 93px 20%;
	letter-spacing: 2px;
	word-spacing: 3px;
	line-height: 30px;
	background-color: #E4F1FE;
	overflow-x: hidden;
}

.extraspace {
	color: none;
	margin: 17% 0 0 0;
	background-size: 0% 0%;
}

.heading2 {
	z-index: -10;
	font-family: Raleway, sans-serif;
	font-size: 40px;
	color: #34495e;
	margin: 0px 0 0 0;
	letter-spacing: 8px;
	word-spacing: 8px;
	text-transform: uppercase;
	font-style: italic;
	background-color: #E4F1FE;
	padding: 100px;
	overflow-x: hidden;
}

.heading4 {
	z-index: -10;
	font-family: Raleway, sans-serif;
	font-size: 40px;
	color: white;
	margin: 0px 0 0 0;
	letter-spacing: 8px;
	word-spacing: 8px;
	text-transform: uppercase;
	font-style: italic;
	background-image: url('https://images.unsplash.com/photo-1484903079635-f63c02f8b149?dpr=1&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=');
	background-attachment: fixed;
	background-position: center;
	padding: 200px;
	overflow-x: hidden;
}

.careertitle {
	background-color: #22313F;
	color: #E4F1FE; 
	overflow-x: hidden;
}

.heading3 {
	padding: 50px 30px 30px 30px;
	overflow-x: hidden;
}

.subtitle {
	font-family: Raleway, sans-serif;
	font-size: 30px;
	color: #34495e;
	letter-spacing: 8px;
	word-spacing: 8px;
	text-transform: uppercase;
	font-style: normal;
	background-color: #E4F1FE;
	padding: 30px;
	float: center;
	overflow-x: hidden;
}

.subtitles {
	font-family: Raleway, sans-serif;
	font-size: 30px;
	color: #E4F1FE;
	letter-spacing: 8px;
	word-spacing: 8px;
	text-transform: uppercase;
	font-style: normal;
	background-color: #22313F;
	padding: 30px;
	float: center;
	overflow-x: hidden;
}

.picture1 {
	background-color: #22313F;
	padding: 20px;
	overflow-x: hidden;
}

.careersection {
	background-color: #22313F;
	
	padding: 0 0 200px 0;
	background-size: cover;
	overflow-x: hidden;
}


.topthing {
	top: 0;
	font-size: 0.1px;
	overflow-x: hidden;
}

.timeline {
	height: 20vh;
}


.date {
	background-color: #DCC6E0;
	background-size: cover;
	overflow-x: scroll;
}

