html {
	box-sizing: border-box;
}

* { margin:0; padding:0; box-sizing:border-box}

/*
@font-face {
	font-family: futuristfixed;
	src:url('C:\\users\\yoon\\documents\\jacob\\tsa\\2016-17\\nationals\\website\\futurist_fixed\\FUTRFW.TTF');
}
*/

body {
	background-color: white;
}

@font-face {
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Cinzel', serif;

}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white; 
    background: black;
}

.top {
	top: 0;
	font-size: 1px;
}

ul {
	padding: 10px 0;
	list-style-type: none;
	position: fixed;
	background-color: #07070a;
	width: 100%;
	left: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	z-index: 9999;
}

.nav li a {
	color: white;
	letter-spacing: 2px;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 15px;
	padding: 10px 1vw;
	background-color: none;
	-webkit-transition: 1s;
	transition: 1s;
	line-height: 30px;
}

.nav li a:hover {
	background-color: white;
	color: black;
}

.lander {
	background-image: url(https://s3.postimg.org/e5kh5dm9f/mars.png);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.landertext {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 80px;
	margin-bottom: 20px;
	text-align: center;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
}

.lander h2 {
	font-size: 60px;
	font-weight: 200;
}

.lander h3 {
	font-size: 40px;
	font-weight: 200;
}

.lander div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	height: 35vh;
}

.scrollarrow {
	height: 60px;
	padding: 10px;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}

.scrollarrow:hover {
	background-color:black;
	border-radius: 30px;
}

.scrollarrowspace {
	height: 35vh;
	font-size: 1px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.body1 {
	background-color: #262630;
	background-size: cover;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.body1 h3, p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;

}

.body1 h3 {
	color: white;
	font-size: 50px;
	font-weight: 500;
	margin: 100px 0;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	width: 50vw;
}

.body1 p {
	color: #ccc;
	font-size: 15px;
	font-weight: 400;
	margin: 100px 5vw;
	line-height: 30px;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	width: 40vw;
}

.careers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	background-color: #16161e;
}

.careers h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	color: white;
	font-size: 50px;
	font-weight: 500;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	margin: 100px 0;
}

.careers div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.timeline-line {
     position: absolute;
     left: 49.5%;
     border-left: 1vw solid #1d1d26;
     height: 300%;    
}

.careerspanels div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.subtitle1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	color: white;
	font-size: 25px;
	font-weight: 700;
	line-height: 70px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	text-shadow: 1px 1px 10px black;
}

.subtitle2{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	color: white;
	font-size: 15px;
	font-weight: 500;
	line-height: 35px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	width: 30vw;
}

.panel11 {
	height: 50vh;
	width: 50%;
	background-image: url(https://s15.postimg.org/c8wzr95rf/careerbg.png);
	background-size: cover;
}

.panel12 {
	height: 50vh;
	width: 50%;
	background-image: url(https://s22.postimg.org/k9m0f4gyp/careerbglight.png);
	background-size: cover;
}

.panel1 {
	background-image: url(https://s15.postimg.org/xnj3sa0wr/image1.png);
	background-size: cover;
	height: 50vh;
	width: 50%;
}

.panel2 {
	background-image: url(https://s15.postimg.org/6ecbrip7f/image2.png);
	background-size: cover;
	height: 50vh;
	width: 50%;
}

.panel3 {
	height: 50vh;
	width: 50%;
	background-image: url(https://s15.postimg.org/uw4fferrv/image3.png);
	background-size: cover;
}

.panel4 {
	height: 50vh;
	width: 50%;
	background-image: url(https://s15.postimg.org/x1yq9wv8b/image4.png);
	background-size: cover;
}

.panel5 {
	height: 50vh;
	width: 50%;
	background-image: url(https://s15.postimg.org/6uxjdycyj/image5.png);
	background-size: cover;
}

.panel6 {
	height: 50vh;
	width: 50%;
	background-image: url(https://s15.postimg.org/7yhnpwxln/image6.png);
	background-size: cover;
}
