@import "compass/css3";
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


/*
@font-face {
	font-family: futuristfixed;
	src:url('C:\\users\\yoon\\documents\\jacob\\tsa\\2016-17\\nationals\\website\\futurist_fixed\\FUTRFW.TTF');
}
*/

body {
  background-image: url(https://s28.postimg.org/dp1l6klot/stardust.png);
  background-attachment: fixed;
}

@font-face {
	font-family: 'aliceregular';
}

::-webkit-selection {
  /* Code for Firefox */
  color: white;
  background: #4d4d56;
}

::-o-selection {
  color: white;
  background: #4d4d56;
}

::-moz-selection {
  color: white;
  background: #4d4d56;
}

::selection {
  color: white;
  background: rgba(242, 120, 75, 0.5);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #F2784B;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.top {
  top: 0;
  font-size: 1px;
}

hr {
  border: 2px solid rgba(255, 255, 255, 0.7);
  z-index: 200;
}

ul {
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
  position: fixed;
  background-image: url(https://s28.postimg.org/dp1l6klot/stardust.png);
  width: 100%;
  left: 0;
  /*
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 100;
}

.nav li a {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  padding: 0 1vw;
  background-color: none;
  -webkit-transition: 1s;
  transition: 1s;
  line-height: 30px;
}

.lander {
  background-image: url(https://s3.postimg.org/e5kh5dm9f/mars.png);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.landertext {
  color: #F2784B;
  font-weight: 1100;
  font-size: 80px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  letter-spacing: 5px;
}

.lander h3 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

.lander div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35vh;
}

.scrollarrow {
  height: 60px;
  padding: 10px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.scrollarrow:hover {
  background-color: black;
  border-radius: 30px;
}

.scrollarrowspace {
  height: 35vh;
  font-size: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.body1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.body1 h3,
p {
  text-align: center;
  letter-spacing: 2px;
}

.body1 h3 {
  color: white;
  font-size: 50px;
  font-weight: 100;
  margin: 100px 0;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  width: 50vw;
}

.body1 p {
  color: #ccc;
  font-size: 15px;
  font-weight: 400;
  margin: 100px 5vw;
  line-height: 30px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  width: 40vw;
}

.careers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.sectiontitle {
  width: 100vw;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 50px;
  font-weight: 100;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  padding: 100px 0;
}

.careers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.careerspanels div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subtitle1 {
  text-align: left;
  letter-spacing: 2px;
  color: white;
  font-size: 25px;
  font-weight: 100;
  line-height: 70px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  text-shadow: 1px 1px 10px black;
  overflow-x: hidden;
}

.subtitle4 {
  text-align: right;
  letter-spacing: 2px;
  color: white;
  font-size: 25px;
  font-weight: 100;
  line-height: 70px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  text-shadow: 1px 1px 10px black;
  overflow-x: hidden;
}

.subtitle2 {
  text-align: right;
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  width: 30vw;
  overflow-x: hidden;
}

.subtitle3 {
  text-align: left;
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  width: 30vw;
  overflow-x: hidden;
}

.panel12 {
  height: 80vh;
  width: 50%;
}

.panel11 {
  height: 80vh;
  width: 50%;
}

.panel1 {
  background-image: url(https://s15.postimg.org/xnj3sa0wr/image1.png);
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 50%;
}

.panel2 {
  background-image: url(https://s15.postimg.org/6ecbrip7f/image2.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 50%;
}

.panel3 {
  height: 80vh;
  width: 50%;
  background-image: url(https://s15.postimg.org/uw4fferrv/image3.png);
  background-position: center;
  background-size: cover;
}

.panel4 {
  height: 80vh;
  width: 50%;
  background-image: url(https://s15.postimg.org/x1yq9wv8b/image4.png);
  background-position: center;
  background-size: cover;
}

.panel5 {
  height: 80vh;
  width: 50%;
  background-image: url(https://s15.postimg.org/6uxjdycyj/image5.png);
  background-position: center;
  background-size: cover;
}

.panel6 {
  height: 80vh;
  width: 50%;
  background-image: url(https://s15.postimg.org/7yhnpwxln/image6.png);
  background-position: center;
  background-size: cover;
}

section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
  margin-bottom: 100px;
}

section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50px;
  margin: 0 0 -1px;
  width: 2px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0 -50px 0;
}

section#timeline h3 {
  margin: 0;
  text-align: center;
}

section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}

section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}

section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
}

section#timeline article div.inner span.date {
  display: block;
  width: 65px;
  height: 65px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #212025;
}

section#timeline article div.inner span.date span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section#timeline article div.inner span.date span.day {
  font-size: 0.1px;
  line-height: 13px;
}

section#timeline article div.inner span.date span.month {
  vertical-align: center;
  margin: 15px 0;
  font-size: 18px;
}

section#timeline article div.inner span.date span.year {
  font-size: 1px;
  line-height: 13px;
}

section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #16161e;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  position: relative;
}

section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
}

section#timeline article div.inner h2 p {
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  text-transform: none;
  line-height: 25px;
}

section#timeline article div.inner h2 p b {
  text-transform: uppercase;
  font-weight: 900;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #262630;
}

section#timeline article:nth-child(2n+1) div.inner {
  float: right;
}

section#timeline article:nth-child(2n+1) div.inner h2:after {
  left: -5px;
}

section#timeline article div.inner h2 {
  background: #d7d9e0;
}

section#timeline article div.inner h2:after {
  background: #d7d9e0;
}

section#transportation {}

section#transportation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
}

section#transportation div h2 {
  text-align: center;
  font-family: 'geometria-light';
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
  font-weight: 100;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  padding: 0 0 0 1px;
  width: 50%;
}

section#transportation div p {
  text-align: left;
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  line-height: 35px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  overflow-x: hidden;
  width: 50%;
  padding: 0 10% 100px 10%;
}

section#prosandcons {
  color: white;
  font-family: 'geometria-light';
}

section#prosandcons p {
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  line-height: 35px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  overflow-x: hidden;
  padding: 0 10vw 50px 10vw;
}

section#prosandcons h2 {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
  font-weight: 100;
  line-height: 70px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  text-shadow: 1px 1px 10px black;
  overflow-x: hidden;
  letter-spacing: 5px;
  padding-bottom: 50px;
}

section#prosandcons section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
  -ms-flex-pack: row;
  justify-content: row;
}

section#prosandcons section div {
  width: 50vw;
  padding: 0 5vw 0 5vw;
}

section#prosandcons section div p {
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  line-height: 35px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  overflow-x: hidden;
  padding: 0;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

section#prosandcons section div h2 {}

html {
  overflow-x: hidden;
font-family: 'aliceregular';
	font-weight: 200;
}
